.App {
  /* background-image: url('./resources/marvel-space-background.jpg'); */
  width: 99vw;
  height: 100vh;
  /* background-repeat: no-repeat; */
}


body {
  background-color: #161515;
  /* background-image: url('./resources/marvel-space-background.jpg'); */
  background-repeat: no-repeat;
}

h1, h2 {
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

.title {
  margin-top: 0px;
}

.speaker:hover {
  cursor: pointer;
}

.gauntlet {
  width: 16em;
  display: flex;
  justify-content: center;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center
}

.gauntlet-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.stones-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.293);
  padding: 5px;
}

p {
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

.speaker:hover {
  cursor: pointer;
}

.speaker {
  background: none;
  border: none;
  font-size: 2.5em;
}